# Chặn file nặng 1.2GB (QUAN TRỌNG)
*.safetensors
*.bin
*.pth

# Chặn file rác Python
__pycache__/
*.pyc

# Chặn môi trường ảo
venv/
.env

# Bỏ qua toàn bộ thư mục chứa model nặng
models/
# Bỏ qua các file checkpoint trong quá trình train
checkpoint-*/
# Bỏ qua thư mục ảo của python
__pycache__/
.ipynb_checkpoints/